<ion-header>
  <ion-toolbar class="header-container">
    <!-- Contenedor principal con fondo gris -->
    <div class="company-info">
      <!-- Imagen centrada -->
      <div class="logo-container">
        <img src="assets/images/company-logo.png" alt="Logo GraficWorld" class="company-logo">
      </div>
      
      <!-- Información de la empresa -->
      <div class="company-details">
        <h1 class="company-name">GraficWorld</h1>
        <div class="contact-info">
          <ion-text>
            <p><ion-icon name="call-outline"></ion-icon> +34 659 842 2157</p>
            <p><ion-icon name="location-outline"></ion-icon> Calle de la inventada 12, 35</p>
          </ion-text>
        </div>
      </div>
    </div>

  </ion-toolbar>
</ion-header>