<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Visualización de Datos
    </ion-title>
  </ion-toolbar>
  <ion-button (click)="generarPDF()">Generar PDF</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <div #container>
    <div class="dashboard-content">
      <!-- Header section -->
      <div class="seccion header">
        <h1>Dashboard</h1>
      </div>

      <!-- Charts section -->
      <div class="seccion charts-container">
        <h2>Gráficos</h2>
        <ion-grid *ngIf="tipoDeChartSeleccionado === 'bar-chart'">
          <ion-row>
            <ion-col>
              <app-bar-chart 
                [tipoChartSelected]="tipoDeChartSeleccionado" 
                [nombresCategorias]="categorias" 
                [borderColorCategorias]="borderColorCat" 
                [backgroundColorCategorias]="backgroundColorCat">
              </app-bar-chart>
            </ion-col>
            <ion-col>
              <app-line-chart></app-line-chart>
            </ion-col>
            <ion-col>
              <app-pie-chart></app-pie-chart>
            </ion-col>
          </ion-row>
        </ion-grid>
        <app-line-chart *ngIf="tipoDeChartSeleccionado === 'line-chart'"></app-line-chart>
        <app-pie-chart *ngIf="tipoDeChartSeleccionado === 'pie-chart'"></app-pie-chart>
      </div>

      <div class="seccion table-container">
        <h2>Table</h2>
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>
      <div class="seccion list-container">
        <h2>List</h2>
        <ul *ngFor="let lista of datosLista">
          <li>{{lista}}</li>
        </ul>
      </div>
      <div class="seccion table-container">
        <h2>Table</h2>
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>
    </div>
  </div>
</ion-content>
